services:
  - type: web
    name: spy-game-online
    env: node
    plan: free
    rootDir: .
    buildCommand: "npm install"
    startCommand: "npm start"
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
